<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Variant HTML Builder by Medium Rare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../static/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../static/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../static/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>

				
		<div class="nav-container">
			
			
		
			<nav class="nav-1">
				<div class="navbar">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-4">
								<a href="#">
									<img class="logo" alt="Logo" src="img/logo-dark.png">
								</a>
							</div>
					
							<div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
								<a class="btn btn-filled" href="#">Join Now »</a>
								<div class="mobile-toggle">
									<div class="upper"></div>
									<div class="middle"></div>
									<div class="lower"></div>
								</div>
							</div>
					
							<div class="col-md-6 text-center col-md-pull-3 col-sm-12 col-xs-12">
								<ul class="menu">
									<li>
										<a href="#">
											Single
										</a>
									</li>
							
									<li class="has-dropdown">
										<a href="#">
											Dropdown
										</a>
										<ul class="subnav">
											<li>
												<a href="#">
													Single
												</a>
											</li>
									
											<li class="has-dropdown">
												<a href="#">
													Second Level
												</a>
												<ul class="subnav">
													<li>
														<a href="#">
															Single
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
				
						</div>
					</div>
				</div>
			</nav>
		
		</div>
		
		<div class="main-container">
		<section class="header header-7">
				<div class="hero-slider">
					<ul class="slides">
						<li>
							<div class="background-image-holder">
								<img alt="Background Image" class="background-image" src="img/hero10.jpg">
							</div>
			
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<h1 class="text-white">A Data Driven model for the Early Detection of Forest Fires<br></h1>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		
				
		<script src="../static/js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/flexslider.min.js"></script>
        <script src="../static/js/smooth-scroll.min.js"></script>
        <script src="../static/js/placeholders.min.js"></script>
        <script src="../static/js/twitterfetcher.min.js"></script>
        <script src="../static/js/spectragram.min.js"></script>
        <script src="../static/js/parallax.js"></script>
        <script src="../static/js/scripts.js"></script>
    </body>
</html>

				