
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Variant HTML Builder by Medium Rare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/flexslider.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>

		<div class="nav-container">
			<nav class="nav-1">
				<div class="navbar">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-4">
							</div>
					
							<div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
							</div>
					
							<div class="col-md-6 text-center col-md-pull-3 col-sm-12 col-xs-12">
								<ul class="menu">
									<li>
										<a class="text-white text-center" href="/home">
											Home
										</a>
									</li>
							
									<li class="has-dropdown">
										<a class = "text-white extra-float" href="/home">
											About
										</a>
										<ul class="subnav little-smaller">
											<li>
												<a href="/about/motivation">
													Motivation
												</a>
											</li>

											<li>
												<a href="#">
													Methods
												</a>
											</li>
										</ul>
									</li>

									<li class="has-dropdown">
										<a class = "text-white" href="/About">
											Data/Results
										</a>
										<ul class="subnav little-wider">
											<li>
												<a href="#">
													Cool Vizualizations
												</a>
											</li>

											<li>
												<a href="#">
													Cool Maps
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
				
						</div>
					</div>
				</div>
			</nav>
		
		</div>

		<div class="main-container">
			<section class="header header-7">
				<div class="hero-slider">
					<ul class="slides controlled-background">
						<div class="background-image-holder">
							<img alt="Background Image" class="background-image" src="http://31.media.tumblr.com/tumblr_lvx2udfXRj1qhb2keo1_500.gif">
						</div>
						<li>
							<div class="container">
								<div class="container">
									<div class="row">
										<div class="col-sm-12 text-white text-left center-padding2">
											<svg id='daily-map' width="750" height="500">
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		
		<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flexslider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/placeholders.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/twitterfetcher.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/spectragram.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/daily_map.js') }}"></script>
    </body>
</html>

				