
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Variant HTML Builder by Medium Rare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/flexslider.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>

				
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section class="header header-7">
				<div class="hero-slider">
					<ul class="slides">
						<li>
							<div class="background-image-holder">
								<img alt="Background Image" class="background-image" src="img/hero10.jpg">
							</div>
			
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<h1 class="text-white">Build stylish landing pages in <br>minutes with Launchkit</h1>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		
				
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flexslider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/placeholders.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/twitterfetcher.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/spectragram.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>

				