*.txt
*.csv
*.json
*.pyc
*sentinel
.ipynb*
*.ipynb_checkpoints
*code/eda-viz/.ipynb_checkpoints
*code/eda-viz/in_proj/dsfuncs
data/csvs*
data/jsons*
data/unzipped_files
data/zipped_files
code/eda-viz/in_proj/data/
