{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <div class="container col-md-1"></div>
        <div class="container col-md-6" id="home-svg-container"></div>
        <div class="container col-md-4"></div>
        <div class="container col-md-1"></div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='scripts/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
{% endblock %}
