/*!---------- PLACE YOUR CUSTOM STYLES AND OVERRIDES HERE ----------*/
.nav-1 .navbar {
  background: #000;
}

.nav-1 .navbar ul a {
	font-size: 150%;
}

.nav-1 .subnav li a {
	font-size: 100%;
}

.nav-1 .little-wider {
	width: 150%;
}

.center-padding {
	margin-top: -15em;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	padding-right: 5em;
	padding-left: 2.5em;
	background: #000;
	border-radius: 15px;
}

div#daily-map {
	display: block;
}

.center-padding2 {
	margin-top: -10em;
	padding-right: 50em;
	background: #000;
	border-radius: 15px;
}

